.text-with-media {
  display: grid;
  gap: 1rem;
  grid-template: "primary secondary";
  /* This is required for the admin UI since it uses super long example text */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  margin: 2rem auto;
}

/* Variations */
/* Width Options */
.text-with-media[data-width="feature"] {
  width: 100%;
}

.text-with-media[data-width="highlight"] {
  width: 80%;
}

.text-with-media[data-width="callout"] {
  width: 60%;
}

/* Layout Options */
.text-with-media[data-layout="media-left"] .text-with-media__text,
.text-with-media[data-layout="media-right"] .text-with-media__media {
  grid-area: secondary;
}

.text-with-media[data-layout="media-left"] .text-with-media__media,
.text-with-media[data-layout="media-right"] .text-with-media__text {
  grid-area: primary;
}

/* Focus Options */
.text-with-media[data-focus="equal"] {
  grid-template-columns: 1fr 1fr;
}

.text-with-media[data-focus="text"][data-layout="media-left"],
.text-with-media[data-focus="media"][data-layout="media-right"] {
  grid-template-columns: 1fr 2fr;
}

.text-with-media[data-focus="text"][data-layout="media-right"],
.text-with-media[data-focus="media"][data-layout="media-left"] {
  grid-template-columns: 2fr 1fr;
}
