.text-with-media {
  display: grid;
  gap: 2rem;
  grid-template: "primary"
                 "secondary";
  /* This is required for the admin UI since it uses super long example text */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  margin: 2rem auto;
}

@media (min-width: 768px) {
  .text-with-media {
    grid-template: "primary secondary";
  }
}

/* Variations */
/* Width Options */
[data-width="feature"] {
  width: var(--width-feature);
}

[data-width="highlight"] {
  width: var(--width-highlight);
}

[data-width="callout"] {
  width: var(--width-callout);
}

/* Layout Options */
[data-layout="media-left"] .text-with-media__text,
[data-layout="media-right"] .text-with-media__media {
  grid-area: secondary;
}

[data-layout="media-left"] .text-with-media__media,
[data-layout="media-right"] .text-with-media__text {
  grid-area: primary;
}

/* Focus Options */
@media (min-width: 768px) {

  [data-focus="equal"] {
    grid-template-columns: 1fr 1fr;
  }

  [data-focus="text"][data-layout="media-left"],
  [data-focus="media"][data-layout="media-right"] {
    grid-template-columns: 3fr 5fr;
  }

  [data-focus="media"][data-layout="media-left"],
  [data-focus="text"][data-layout="media-right"] {
    grid-template-columns: 5fr 3fr;
  }
}
